body, html {
    width: 100%;
    height: 100%;
    padding-bottom: 0px !important;
/*    overflow-x: hidden;*/
}

.header {
    padding: 10px;
    & > img {
        border-radius: 5px;
    }
}

.navbar {
    max-width: 100% !important;
}

.custom-header {
    background-color: black;
    max-width: 100% !important;
}

.images {
    img {
 /*       max-width: 100%;*/
        padding: 10px;
    }
}

.clock {
    width: 460px;
    height: 116px;
    margin: 0 auto;
    margin-top: 50px;
}

.jumbotron {
    background-image: url("../img/22.png");
    min-width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: 0px !important;
}

.about {
    img {
        max-width: 100%;
    }
}

img {
    max-width: 100%;
}

/*.footer-hero div p{
    position: absolute;
    bottom: 0;
}*/

.row { margin: 0; padding: 0 }

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
  overflow: hidden;
}
 
.timeline:before {
  top: 62px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -2px;
}
 
.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 11px rgba(0,0,0,0.35);
      -ms-box-shadow: 0 0 11px rgba(0,0,0,0.35);
       -o-box-shadow: 0 0 11px rgba(0,0,0,0.35);
          box-shadow: 0 0 11px rgba(0,0,0,0.35);
}
 
.timeline li {
  margin-top: 29px;
  position: relative;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 96%;
    float: left;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
            -ms-border-radius: 8px;
                -o-border-radius: 8px;
                    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
                -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    /** panel arrows **/
    &:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";      
    }
    &:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";  
    }
}
 
.timeline li .timeline-panel.noarrow:before,
.timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}
 
.timeline li.timeline-inverted .timeline-panel {
    float: right;
    &:before {
        top: 60px;
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    &:after {
        top: 61px;
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
 
.timeline li .tl-circ {
    position: absolute;
    top: 30px;
    left: 100%;
    text-align: center;
    background: #fff;
    color: #fff;
    width: 26px;
    height: 26px;
    line-height: 35px;
    margin-left: -14px;
    border: 3px solid rgba(0,0,0, .1);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
    background-color: #1e90ff;
    border: solid 5px #ffffff;
}

.timeline li.timeline-inverted .tl-circ {
    position: absolute;
    top: 63px;
    left: 0%;
    text-align: center;
    background: #fff;
    color: #fff;
    width: 26px;
    height: 26px;
    line-height: 35px;
    margin-left: -14px;
    border: 3px solid rgba(0,0,0, .1);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
    background-color: #1e90ff;
    border: solid 5px #ffffff;
}

@media (max-width: 991px) {
    .timeline:before { display: none; }

    .timeline li .timeline-panel {
        width: 100%;
        overflow: hidden;
    }

    .timeline li .timeline-panel:before {
        display: none;
    }
   
    .timeline li .timeline-panel:after {
        display: none;
    }

    .timeline li .tl-circ {
        display: none;
    }
}





















.post-wrap {
    /*padding: 15px !important;*/
}
.post-wrap + .post-wrap {
    /*margin-top: 40px;*/
    border-top: solid 1px #EEEEEE;
    padding-top: 40px;
}


.timeline .post-wrap {width: auto !important;}
.timeline .post-excerpt {
    font-size: 15px;
    margin-bottom: 0;
}

.post-media {margin-bottom: 20px; position: relative;}
.post-media .thumbnail {margin-bottom: 0;}
.post-media .media-link {
    /*padding: 15px 10px;*/
    background-color: #1e90ff;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.post-header {margin-bottom: 15px;}

.post-meta {
    padding: 5px; /**/
    font-size: 14px;
    line-height: 14px;
    background-color: #f0f3f5;
    color: #717d87;
}
.post-meta a {
    color: #717d87
}
.post-meta a:hover {
    color: #1e90ff;
}
.post-meta .sep:before {content: "/"; margin: 0 5px;}


/* Thumbnails
/* ========================================================================== */

.thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 0;
    &.no-border, &.no-border.hover, &.no-border:hover {
        border: none;
    }
}

.thumbnail.hover,
.thumbnail:hover { }

.thumbnail.no-border,
.thumbnail.no-border.hover,
.thumbnail.no-border:hover {
    border: none;
}

.thumbnail > img {
    width: 100%;
}

/* Thumbnail caption */


.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fa-heart:before {
content: "\f004";
}

.post-meta a {
color: #717d87;
}




/* Blog / Post
/* ========================================================================== */

.post-wrap {
    /*padding: 15px !important;*/
}
.post-wrap + .post-wrap {
    margin-top: 40px;
    border-top: solid 1px #EEEEEE;
    padding-top: 40px;
}

.post-header {margin-bottom: 15px;}
.post-author {font-size: 18px;}
.post-author,
.post-author a {
    color: #999999;
}
.post-author a:hover {color :#1E90FF;}
.post-date { }
.post-media {margin-bottom: 20px; position: relative;}
.post-media .thumbnail {margin-bottom: 0;}
.post-media .media-link {
    padding: 15px 10px;
    background-color: #1e90ff;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}
.post-body {}
.post-excerpt {margin-bottom: 20px;}
.post-details {}
.post-title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
}
.post-title,
.post-title a {
    color: #1f2122;
}
.post-title a:hover {
    color: #1e90ff;
}
.post-footer {margin-top: 20px;}
.post-tags {display: block; font-size: 11px; line-height: 20px;}
.post-categories {display: block; font-size: 11px; line-height: 20px;}

.about-the-author {
    margin-top: 40px;
    padding-top: 40px;
    border-top: solid 1px #EEEEEE;
}


.post-title, .post-title a {
color: #1f2122;
}